---
import Layout from '@layouts/Layout.astro';

import Accordion from '@components/content/Accordion.astro';
import Card from '@components/content/Card.astro';
import Carousel from '@components/content/Carousel.astro';
import Modal from '@components/content/Modal.astro';
import TableSortable from '@components/content/TableSortable.astro';
import Tabs from '@components/content/Tabs.astro';
import BackBtn from '@components/BackBtn.astro';
---

<Layout>
    <h1>Content</h1>
    <Accordion />
    <Card />
    <Carousel />
    <Modal />
    <TableSortable />
    <Tabs />
    <BackBtn backBtnHref="./" />
</Layout>