---
import Layout from '@layouts/Layout.astro';
import Navigation from '@components/Navigation.astro';
---

<Layout>
    <h1>Bibliothèque de composants Alpine.js accessibles</h1>
    <Navigation />
</Layout>