---
import Navigation from "@components/Navigation.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Bibliothèque de composants Alpine.js accessibles</title>
    <link rel="stylesheet" href="../../src/assets/styles.css" />

    <!-- Alpine Plugins -->
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"
    ></script>
  </head>
  <body>
    <div class="container">
      <aside class="aside">
        <Navigation />
      </aside>
      <main class="main">
        <slot />
      </main>
    </div>
  </body>
</html>